# Note: Regular users cannot execute systemctl power commands (reboot,
# poweroff, etc) when logged in to a urxvt client/daemon setup which is
# started through systemd, as the client is not part of the session.
[Unit]
Description=Urxvt Terminal Daemon
Requires=urxvtd.socket

[Service]
ExecStart=/usr/bin/urxvtd -o -q
Environment=RXVT_SOCKET=%t/urxvtd-%H

[Install]
Also=urxvtd.socket
