#-*- Utils -*-
pavucontrol
light
rofi-lbonn-wayland-git
grim
slurp
playerctl
acpi

#-*- Text editors -*-
emacs-git

#-*- Terminal -*-
kitty
fish
fisher
starship

#-*- Web -*-
qutebrowser
chromium-widevine
pdfjs

#-*- Wayland -*-
wayland
sway
swayidle
swaylock
xorg-xwayland


wine
winetricks
dunst-git
libreoffice-fresh
gimp
imagemagick
mupdf-gl
python
intel-ucode
keepasxc
miecraft-launcher
networkmanager
networkmanager-l2tp
#metworkmanager-dmenu-git
pulse-audio
xsane

slack-desktop
discord
zoom
subversion
git
diff-so-fancy
cups
docker
doxygen
yed
ranger
python-pillow
autojump


texlive

#-*- C/C++ -*-
base-devel # Arch linux package
gdb-multiarch
cling
ccache
ccls
clang
valgrind

#-*- Java -*-
jre8-openjdk
jre11-openjdk

gnuradio
rtl-sdr


#ncmpcpp
#mopidy
#modidy-spotidy
spotify

ngspice
screen

teams
tmux
curl
qt5-wayland
armadillo

bluez
blueman
cups-pdf

greetd
greetd-tuigreet
neofetch
pdfsam

nerd-fonts-fira-code
